.header {
  background-color: white;
}
#bs-navbar-collapse {
  padding-left: 45px;
  padding-right: 45px;
}
#a-title {
  font-size: 35px;
  color: black;
}
#i-notify-count {
  vertical-align: bottom;
}