body {
  /*font-family: STFangSong, Helvetica, Arial, Vernada, Tahoma, STXihei, "Microsoft YaHei", "Songti SC", SimSun, Heiti, sans-serif;*/
  font-family: 'Helvetica Neue',Helvetica,Arial,Sans-serif;
  font-size: 18px;
}
a {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
  /*font-family: 'Helvetica Neue',Helvetica,Arial,Sans-serif;*/
  color: #333;
}
a:visited {
  color: #888;
}
.post-row {
  height: 50px;
  margin-top: 15px;
}
a[class="post-title"] {
  font-size: 20px;
  line-height: 26px;
  /*font-weight: bold;*/
  /*max-width: 80%;*/
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  vertical-align: bottom;
}
small {
  /*font-family: 'Helvetica Neue',Helvetica,Arial,Sans-serif;*/
  /*font-style: italic;*/
  color: #999;
  font-size: 12px;
  white-space: nowrap;
}
span:before {
  content: "• "
}
textarea {
  resize: vertical;
}
#div-have-more {
  display: block;
  background: rgba(0, 0, 0, 0);
  text-align: center;
  height: 60px;
  line-height: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#div-have-more:hover {
  text-decoration: none;
  background: rgba(0, 0, 0, 0.1);
}