.index-row {
  margin-top: 10px;
}
.index-title {
  font-family: 'Palatino Linotype', 'Book Antiqua', 'Times New Roman', STFangSong, STKaiti, SimSun, serif;
  font-size: 1.2em;
  line-height: 1em;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  display: inline-block;
  vertical-align: bottom;
}
.desc {
  color: #999;
}
.desc span:before {
  content: "• "
}
.index-desc {
  font-size: 0.8em;
}
#div-have-more {
  display: block;
  background: rgba(0, 0, 0, 0);
  text-align: center;
  height: 50px;
  line-height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#div-have-more:hover {
  text-decoration: none;
  background: rgba(0, 0, 0, 0.1);
}