<template name="index">
    <div class="main-index">
      {{#each posts}}
      <div class="index-row">
        <div class="title-div">
            <a class="index-title" href="/post/{{_id}}">
                <strong>{{title}}</strong>
            </a>
        </div>
        <div class="index-desc desc">
          <small>
            <span>{{author}} 发表于 {{fromNow}}</span>
            <span>浏览 {{visitedCount}} 次</span>
            <span>评论 {{commentedCount}} 次</span>
          </small>
        </div>
      </div>
      {{/each}}
      {{#if haveMore}}
        <div id="div-have-more">
          ...
        </div>
      {{/if}}
    </div>
</template>