<template name="index">
    <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
      {{#each posts}}
      <div class="post-row">
        <a class="post-title" href="/post/{{_id}}">
          <strong>{{title}}</strong>
        </a>
        <br/>
        <small>
          <span>{{author}} 发表于 {{fromNow}}</span>
          <span>浏览 {{visitedCount}} 次</span>
          <span>评论 {{commentedCount}} 次</span>
        </small>
      </div>
      {{/each}}
      {{#if haveMore}}
        <div id="div-have-more">
          ...
        </div>
      {{/if}}
    </div>
</template>