<template name="post">
  <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
    {{#with post}}
    <div class="post-header">
      {{title}}
      <br/>
      <small>
        <span class="">{{author}} 发表于 {{fromNow}}</span>
        <span class="">已被浏览 {{visitedCount}} 次</span>
      </small>
      <!-- <button id="btn-edit" type="button" class="btn btn-default pull-right">编辑</button> -->
      {{#if equal currentUser._id userId}}
        <a href="/post/edit/{{_id}}" class="pull-right">编辑</a>
      {{/if}}
    </div>
    <div class="post-body">
      <p class="mk">
        {{#markdown}}{{content}}{{/markdown}}
      </p>
    </div>
    {{/with}} 
    {{#if comments}}
    <div class="">
      {{#each comments}}
      <div class="comment-body">
        <p class="mk">{{#markdown}}{{content}}{{/markdown}}</p>
        <br/>
        <small>
          <span class="">{{author}} 回复于 {{fromNow}}</span>
        </small>
      </div>
      {{/each}}
    </div>
    {{/if}} 
    {{#if currentUser}}
    <div class="">
        {{> errors}}
        <fieldset>
          <textarea id="ta-post-comment" class="form-control" rows="8"></textarea>
        </fieldset>

        <button id="btn-comment-submit" type="button" class="btn btn-default">回复</button>
    </div>
    {{/if}}
  </div>
</template>