<template name='userhome'>
  <div class="container">
  {{> errors}}
  {{#if currentUser }}
    <div class="user-reset-pwd">
        <div class="form-group">
	       <input type='password' class="form-control" id="oldpassword" placeholder="输入旧密码">
        </div>
        <div class="form-group">
        	<input type='password' class="form-control" id="newpassword" placeholder="输入新密码">
        </div>
        <div class="form-group">
        	<input type='password' class="form-control" id="newpassword1" placeholder="再输入一次新密码">
        </div>
        <div class="form-group">
            <button class="btn btn-default" id="btn-submit">提交</button>
        </div>
    </div>
  {{else}}
	<p> 请首先登录 </p>
  {{/if}}
  </div>
</template>

